.navigation {
  > div {
    text-align: center;
  }

  h1 {
    width: 100%;
    text-align: center;
    height: 30%;
    margin: 20% 0;
    padding-top: 20%;
  }

  Button {
    margin: 10px;
    width: 70%;
    height: 60px;
  }
}
