.play-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 5vh;
}

.header {
  flex: 0;
}

.body {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.input {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 300px;
}

.answer-letter {
  display: inline-flex;
  flex: 0 0 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  margin: 5px;
  height: 40px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
}

.input-letter {
  display: flex;
  flex: 0 0 20px;
  justify-content: center;
  align-items: center;
  margin: 7px;
  height: 24px;
  text-transform: capitalize;
  font-family: sans-serif;
}

.used {
  opacity: 0.4;
  pointer-events: none;
}

.answer {
  border: 1px solid grey;
}

.exit-button {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 18px;
  text-align: center;
}

.title {
  position: absolute;
  top: 15px;
  left: 10px;
}
