input[type='file'] {
  display: none;
}

.categories {
  h1 {
    width: 100%;
    text-align: center;
    height: 30%;
    margin: 20% 0;
    padding-top: 20%;
  }

  span {
    margin: 10px;
    width: 70%;
    height: 60px;
  }
}