* {
  text-align: center;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  background: linear-gradient(to top, #50c9c3, #96deda);
}

img {
  width: 100%;
}

#main, #main > div {
  height: 100%;
}


.answer-letter {
  display: inline-flex;
  flex: 0 0 30px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  margin: 5px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, .4);
}

.letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50px;
  margin-top: 20px;
}

.input-letter {
  display: flex;
  flex: 0 0 30px;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-bottom-width: 5px;
  border-radius: 2px;
  margin: 5px;
  width: 30px;
  height: 30px;
  text-transform: capitalize;
  font-family: sans-serif;
}

.used {
  opacity: 0.4;
  pointer-events: none;
}

.answer {
  border: 1px solid grey;
}

.input {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35%;
  min-height: 200px;
}

.navigation {
  > div {
    text-align: center;
  }

  h1 {
    width: 100%;
    text-align: center;
    height: 30%;
    margin: 20% 0;
    padding-top: 20%;
  }

  Button {
    margin: 10px;
    width: 70%;
    height: 60px;
  }
}


input[type='file'] {
  display: none;
}

.categories {
  h1 {
    width: 100%;
    text-align: center;
    height: 30%;
    margin: 20% 0;
    padding-top: 20%;
  }

  span {
    margin: 10px;
    width: 70%;
    height: 60px;
  }
}
